## This is an assignment form Tools for Data Science - IBM Data Science Professional Certificate.

#### Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

Create Table. <br>
Use diffrenet kind of Headings. <br>
Create Lists like data science languages, tools , laibraries. <br>
Use Arithmetic Expression. <br>
Comment on Data Science tools.

#### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
    
  1.Python <br>
  2.R  <br>
  3.C/C++  <br>
  4.SQL  <br>
  5.Java  <br>
  6.Julia <br>
  7.JavaScript <br>
  8.MATLAB <br>
  9.SAS <br>
  10.Scala

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by data scientists include:

1.TensorFlow <br>
2.NumPy <br>
3.Pandas <br>
4.Scipy <br>
5.PyTorch <br>
6.Keras <br>
7.Matplotlib <br>
8.SciKit-Lear <br>
9.ELI5 <br>
10.NuPIC <br>
11.Ramp <br>
12.PyBrain <br>
14.Pipenv <br>
14.Bob <br>
15.Caffe2

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools:
    
|Data Science Tools|
|---|
|Apache Spark|
|---|
|TensorFlow|
|---| 
|SAS|
|---|
|Tableau|

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [48]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")  #compile() converts a string to a Python code object.
eval(code)
# Result: 9

#Note:Eval function is mostly used in situations or applications which need to evaluate mathematical expressions.

9

In [42]:
code = compile("(5 + 7) * 2", "<string>", "eval")
eval(code)

24

In [46]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [51]:
eval("sum([8, 16, 32])")

56

In [52]:
x = 100
eval("x * 2")

200

#### Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [50]:
(3*4)+5

#result :17

17

#### Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [54]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

In [59]:
code = compile("minutes/60", "<string>", "eval")
eval(code)

3.3333333333333335

#### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Sumaiya Tabassum